<h1><%= @place["name"] %></h1>

<% if @current_user %>
  <div class="pb-5">
    <a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-primary btn-lg">New Post</a>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
      <% @posts = Post.where({ "place_id" => @place["id"], "user_id" => @current_user["id"]}) %>
      <% for post in @posts %>
        <div class="col-lg-4">
          <h2 class="mb-0"><%= post["title"] %></h2>
          <div class ="pb-3"><%= post["posted_on"] %></div>
          <% if post.picture.attached? %>
            <img src="<%= url_for(post.picture) %>" class="img-fluid">
          <% else %>
          <% end %>
          <p><%= post["description"] %><p>
        </div>
      <% end %>
    </div>

<% else %>
  <h2>Login to see your posts!</h2>
<% end %>